name: Test

on:
  - push
  - pull_request

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
          - windows-latest
        ruby-version:
          - "2.7"
          - "3.0"
          - "3.1"
          - "3.2"
        rustup-toolchain:
          - "1.61"
          - stable
        exclude:
            # The setup-ruby pre-built Ruby 3.1 is built on macos-11
            # and something doesn't quite add up when running it on
            # macos-14 just for our tests and everything fails with
            # dyld: missing symbol called
            # unfortunately macos doesn't print what symbol is missing
            # so it's hard to debug further
            # everything works fine when Ruby 3.1 is built on the same
            # version of macos it's running on
            - os: macos-latest
              ruby-version: "3.1"
              rustup-toolchain: stable

    steps:
      - uses: actions/checkout@v3

      - uses: oxidize-rb/actions/setup-ruby-and-rust@v1
        with:
          rustup-toolchain: ${{ matrix.rustup-toolchain }}
          ruby-version: ${{ matrix.ruby-version }}
          cache-version: v2
          bundler-cache: true
          cargo-cache: true
          cargo-cache-extra-path: |
            examples/rust_blank/tmp/
            examples/complete_object/tmp/
            examples/custom_exception_ruby/tmp/
            examples/custom_exception_rust/tmp/

      - name: Example gem tests (blank?)
        working-directory: examples/rust_blank
        run: bundle exec rake test

      - name: Example gem tests (complete object)
        working-directory: examples/complete_object
        run: bundle exec rake test

      - name: Example gem tests (custom exception defined in Ruby)
        if: matrix.ruby-version != 'head'
        working-directory: examples/custom_exception_ruby
        run: bundle exec rake test

      - name: Example gem tests (custom exception defined in Rust)
        if: matrix.ruby-version != 'head'
        working-directory: examples/custom_exception_rust
        run: bundle exec rake test

      - name: Run tests
        run: cargo test --workspace
